header{
	padding: 12px;
	margin: 3px 30px 3px 30px;
	border: 3px black solid;
	text-align: center;
	font-family: impact;
	color: rgb(45,140,90);
}

nav{
	margin: auto;
	border: 3px black solid;
	font-family: Verdana;
	font-size: 12 em;
}

section{
	width: 75%;
	height: 75%;
	margin: auto;
	text-align: center;
}

aside{
	text-align: center;
	margin: 20px 0px 20px 0px;
}

a:hover{
	font-family: impact;
	font-weight: bold;
	color: rgb(45,140,90);
}

a{
	color: rgb(25,120,70);
	font-family: trebuchet MS;
}